* {
    box-sizing: border-box;
    cursor: default;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

/* Element Base */

html, body {
    background-color: antiquewhite;
    color: black;
    font-size: 2vmin;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

section {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

a, button {
    cursor: pointer;
    transition: all 0.25s ease-out;
}

p {
    line-height: 1.5em;
    margin: 0 auto 1em;
}

/* Header */

header {
    align-items: center;
    background: black;
    display: flex;
    justify-content: space-between;
    left: 0;
    position: sticky;
    top: 0;
    width: 100vw;
}

.face-img {
    height: 75px;
    width: 75px;
    margin-right: 10px;
}

nav {
    margin-top: 0.3rem;
    text-align: right;
    width: 75vw;
}

nav a {
    display: inline-block;
    margin-right: 2rem;
}

nav a:link, 
nav a:visited {
    color: white;
    text-decoration: none;
}

nav a:hover, 
nav a:active, 
nav a:focus {
    color: cyan;
    cursor: pointer;
    text-decoration: underline;
    text-shadow: 0 0 0.5rem cyan;
}

/* Profile */

#profile {
    color: white;
    background: radial-gradient(gray,#1F2937,#000);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.8);
    padding: 0 15vw;
}

#profile img {
    border: 1px solid #000;
    border-radius: 0.5rem;
    height: auto;
    max-width: 800px;
    width: 100%;
}

#profile article {
    align-items: center;
    display: flex;
    gap: 3rem;
    justify-content: center;
}

#profile article div {
    width: 100%;
}

#profile h2 {
    color: white;
    font-size: 4rem;
    margin: 0;
}

#profile p {
    font-size: 1.1rem;
}

#profile img {
    border: 1px solid #000;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.8);
    height: auto;
    max-width: 800px;
    width: 100%;
}



/* Project */

table {
    width: 60%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
