* {
    font-family: sans-serif, 'Times New Roman';
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #F2F2F2;
}

header, footer {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 0 5%;
}

body, html {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: antiquewhite;
}

header {
    justify-content: start;
    height: 65px;
    position: fixed;
    top: 0;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1000;
}

section {
    display: flex;
    justify-content: center;
}

.section-1 {
    margin-top: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-1 h1 {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    width: 300px;
    border-radius: 20px;
}

.section-2 {
    font-size: large;
    font-weight: 600;
}

.section-2 table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
}

th {
  padding: 10px 10vw;
  border: solid 1px;
  background-color: black;
}

td {
  padding: 20px;
  border: solid 1px;
}

tbody tr:nth-child(odd) {
    background-color: gray;
}
tbody tr:nth-child(even) {
    background-color: darkcyan;
}

.headshot {
    height: 300px;
    width: 300px;
}

.hero {
    font-size: 24px;
    font-weight: light;
}

footer {
    margin-top: auto;
    display: flex;
    position: relative;
    height: 5vw;
}

footer .left {
    display: flex;
    align-items: center;
}

.face-img {
    height: 75px;
    width: 75px;
    margin-right: 10px;
}

.social-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center
}

.social-icons a {
    text-decoration: none;
    margin: 1.1vw;
}

.social-icons a i {
    font-size: 2vw;
}