* {
    font-family: "Josefin Sans", sans-serif, 'Times New Roman';
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #F2F2F2;
}

header, footer {
    display: flex;
    align-items: center;
    background-color: #010D00;
    padding: 0 5%;
}

body, html {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

header {
    justify-content: start;
    height: 65px;
    position: fixed;
    top: 0;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1000;
}

.section-1 {
    background-color: antiquewhite;
}

.hero {
    font-size: 24px;
    font-weight: light;
}

footer {
    display: flex;
    position: relative;
    height: 10vw;
}

footer .left {
    display: flex;
    align-items: center;
}

.face-img {
    height: 75px;
    width: 75px;
    margin-right: 10px;
}

.social-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center
}

.social-icons a {
    text-decoration: none;
    margin: 1.1vw;
}

.social-icons a i {
    font-size: 2vw;
}